:root {
    --text: #e5e5fb;
    --background: #020312;
    --primary: #9999ff;
    --secondary: #000a57;
    --accent: #ff6699;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--text);
}

.hidden {
    display: none !important;
}

#welcome-screen,
#question-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--background);
}

.header {
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--text);
}

.filter {
    margin: 16px;
    color: var(--text);
}

.filter h3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: medium;
    color: var(--text);
}

.filter-pills {
    display: flex;
    font-size: small;
}

.filter-pill {
    cursor: pointer;
    background-color: var(--background);
    border: 0.05rem solid var(--text);
    padding: 8px 16px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 10vw;
    transition: linear 0.125s;
    color: var(--text);
}

.filter-pill.active {
    color: var(--background);
    border: 0.05rem solid var(--text);
    background-color: var(--primary);
    transition: linear 0.125s;
}

button {
    font-size: medium;
    padding: 8px 16px;
    border-radius: 100vh;
    background-color: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
}

button:hover {
    cursor: pointer;
    background-color: var(--accent);
    border: 1.5px solid var(--secondary);
    color: var(--background);
}